.playlist-viewport{
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 800;
    flex: 1 1 auto;
}

.file-list{
    margin: 0px 5px;
    padding: 0;
    font-size: 14px;
    user-select: none;
    position: relative;
}

.input{
    background-color: var(--input-bgcolor);
    outline: 1px solid var(--input-focus-outline);
    border: 0;
    padding: 5px;
    font-family: var(--font);
    font-size: 14px;
    color: var(--primary-forecolor);
    z-index: 900;
}

.input.rename{
    position: fixed;
}

.input.search{
    width: 100%;
}

.searchArea{
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: flex-start;
    position: fixed;
    width: 80%;
    top:35px;
    right: 0px;
    border-radius: 2px;
    margin-right: 20px;
    outline: 1px solid var(--menu-border-color);
    z-index: 900;
    background-color: var(--menu-bgcolor);

}

.searchResult{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    color: var(--playlist-item-color);
    min-width: 60px;
}

.rename:focus
.search:focus{
    outline: 1px solid var(--input-focus-outline);
}

.playlist-item{
    word-break: break-all;
    padding: 5px;
    cursor: default;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
    color: var(--playlist-item-color);
    font-size: 14px;
}

.group{
    display: none;
    pointer-events: none;
    user-select: none;
}

.group-by .group{
    word-break: break-all;
    padding: 5px 0;
    cursor: default;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
    color: var(--playlist-item-color);
    font-size: 12px;
    height: 19px;
    line-height: 19px;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.group .left{
    height: 1px;
    width: 15px;
    background-color: var(--playlist-item-color);
}

.group .mid{
    flex: 1 1 auto;
    margin: 0 5px;
}

.group .right{
    height: 1px;
    width: 100%;
    background-color: var(--playlist-item-color);
}

.draghover{
    background-color: var(--playlist-item-drag-bgcolor);
}

.playlist-item span{
    pointer-events: none;
}

.no-tooltip .file-list .playlist-item{
    pointer-events: none;
}

.file-list .current{
    color: var(--primary-highlight-color);
}

.file-list .selected:not(.current){
    color: var(--secondary-highlight-color);
}

.file-list .selected{
    outline: 1px dotted var(--playlist-item-border-color);
    outline-offset: -1px;
}

.file-list .highlight{
    background-color: rgba(234,92,0,0.15);
}

.file-list .highlight-current {
    background-color: rgba(234,92,0,0.33);
}

.playlist-footer{
    min-height: 30px;
    width: 100%;
    margin-top: 5px;
    border-top: 1px solid var(--menu-border-color);
    background-color: var(--menu-bgcolor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn svg{
    width: 17px;
    height: 17px;
    padding: 0 7px;
    pointer-events: none;
    color: var(--secondary-highlight-color);
}

.btn:hover svg{
    color: var(--primary-highlight-color);
}

.shuffle .shuffle-btn svg{
    color: var(--primary-highlight-color);
}

.cancel {
    cursor: pointer;
}

input[type="range"] {
    overflow: hidden;
    width: 100%;
    height: 17px;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--slider-bgcolor);
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 100%;
    color: var(--slider-bgcolor);
    margin: 0;
    padding: 0;
}
input[type="range"]::-webkit-slider-thumb {
    width: var(--theme-color);
    -webkit-appearance: none;
    height: 100%;
    background: var(--slider-track-bgcolor);
}